div.top-content {
    display: flex;
    padding-top: 3%;
    @media @phone {
        display: flex;
        flex-direction: column-reverse;
        .top-img{
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 500px;
        }
    }
}
.top-img {
    max-width: 40%;
}
div.top-text {
    flex-direction: column;
}

//mid-section context

div.mid-content {
    display: flex;
    padding-top: 3%;
    @media @phone {
        display: flex;
        flex-direction: column;
        h3 {
            text-align: center;
        }
        .mid-img{
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 500px;
        }
    }
}
.mid-img {
    max-width: 40%;
}
div.mid-text {
    flex-direction: column;
    margin-left:3%;
}

div.mid-text h3 {
    text-align: end;
}
@media @phone {
    div.mid-text h3 {
        text-align: center;
    }
}

@media @phone {
    div.bottom-content {
        h3 {
            text-align: center;
        }
    }
}

img.bottom-img {
    padding-top: 3%;
    width:100%;
    height: auto;
    max-height: 300px;
}

div.bottom-text {
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: dashed #AFAFAF;
    h3 {
        text-align: center;
    }
}

div.top-text, .mid-text, .bottom-text {
    background-color: rgb(248, 237, 130)
}

//////////////////////////////////////////////

