div.top-content {
    display: flex;
    padding-top: 3%;
}
.top-img {
    max-width: 25%;
}
div.top-text {
    flex-direction: column;
}

//mid-section context

div.mid-content {
    display: flex;
    padding-top: 3%;
}
.mid-img {
    max-width: 30%;
}
div.mid-text {
    flex-direction: column;
    margin-left:3%;
}

h3.family-log {
    text-align: end;
}

.bottom-img {
    max-width:100%;
}